@import '../common-less/variable.less';
@import '../mixins-less/button.less';

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

.g-button {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    border: 1px solid @border-color-base;
    color: @text-color-base;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    padding: 8px 15px;
    line-height: 1;
    font-size: @font-size-common;
    border-radius: 4px;
    & > [class*='g-icon-'] {
        font-size: @font-size-common;
        padding-right: 4px;
    }
    & > span > [class*='g-icon-'] {
        font-size: @font-size-common;
        margin-left: 2px;
    }
    .g-icon-loading {
        transition: 1s;
        animation: rotating 2s linear infinite;
    }
}
.button-type-loop(@i) when (@i < length(@type-list)+1) {
    @el: extract(@type-list, @i);
    @el-color: ~'color-@{el}';
    .g-button--@{el} {
        color: @text-color-white;
        background-color: @@el-color;
        border-color: @@el-color;
        &:hover,
        &:focus {
            background-color: lighten(@@el-color, 8%);
            border-color: lighten(@@el-color, 8%);
        }
        &:active {
            background-color: @@el-color;
            border-color: @@el-color;
        }
        &.is-disabled {
            background-color: lighten(@@el-color, 20%);
            border-color: lighten(@@el-color, 20%);
            cursor: not-allowed;
        }
    }
    .button-type-loop(@i+1);
}
.button-type-loop(1);

.button-size-style(large, 10px, 18px);
.button-size-style(medium, 8px, 15px);
.button-size-style(small, 6px, 12px);
